In [81]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Database connection configurations
source_db_config = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': '8Y7N7WeCcRYX',
    'host': '.rds.amazonaws.com',
    'port': '5432'
}

target_db_config = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': '8Y7N7WeCcRYX',
    'host': '.us-east-1.rds.amazonaws.com',
    'port': '5432'
}

In [82]:
# Create connection strings
source_connection_string = f"postgresql+psycopg2://{source_db_config['user']}:{source_db_config['password']}@{source_db_config['host']}:{source_db_config['port']}/{source_db_config['dbname']}"
target_connection_string = f"postgresql+psycopg2://{target_db_config['user']}:{target_db_config['password']}@{target_db_config['host']}:{target_db_config['port']}/{target_db_config['dbname']}"

# Create engines
source_engine = create_engine(source_connection_string)
target_engine = create_engine(target_connection_string)

In [83]:
print(source_connection_string)

postgresql+psycopg2://postgres:8Y7N7WeCcRYX@test-source.c36i0myucnne.us-east-1.rds.amazonaws.com:5432/postgres

In [84]:
# Transformation mappings
table_mappings = {
    'api_surgeon': 't_surgeon',
}

column_mappings = {
    't_surgeon': {
        'first_name': 'first_name',
        'middle_name': 'middle_name',
        'last_name': 'last_name',
        'email': 'email',
        'prefix': 'prefix',
        'license_number': 'license_number',
        'license_state_id': 'license_state_cd',
        'phone': 'phone',
        'country_id': 'country_cd',
        'preferred_asc_facility_id': 'preferred_asc_practice_org',
        'preferred_clinic_id': 'preferred_clinic_practice_org',
        'gov_id': 'gov_id',
        'createdat': 'created_dttm',
        'updatedat': 'updated_dttm',
        'createdby_id' :'created_by_id',
        'updatedby_id': 'updated_by_id',
    },
}

# Data type conversion mappings
dtype_mappings = {
    'new_table1': {
        'new_column1': 'int',
        'new_column2': 'float'
    }
}

In [85]:
def extract_table(engine, table_name): 
    query = f"SELECT * FROM {table_name}"
    return pd.read_sql(query, engine)

In [86]:
x = extract_table(source_engine, 'api_surgeon')
x.head(5)

,surgeon_id,license_state_id,createdat,updatedat,createdby_id,updatedby_id,isdeleted,publish,email,last_name,license_number,middle_name,phone,sales_org,country_id,preferred_clinic_facility_id,gov_id
0,0cfd1abc-5d78-4ad6-a8a3-503c0bf0f718,1cb2bb5d-44f4-4116-8d70-b1842a4d1fb4,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,ad93b4ee-cef1-4422-b0c9-7a85dfaab030,6ebdf313-0fb1-4c88-87e6-ed4adf021edc,False,True,surgeon1@example.com,Smith,LN12345,A.,123-456-7890,SalesOrg1,ada5fd7f-e039-424f-87cc-e97987215a43,74630e17-84f6-4fcc-8828-3017b2c8fe70,GOV12345
1,096dacb8-edb9-4a98-aea3-2dc3c691637a,217736d9-f0fc-4aa8-b2cd-cbc1422d81de,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,2059e64d-9a93-48fa-82ac-006fea20e590,c6e6f107-7c2b-4d55-bb40-2ceae40b573a,False,True,surgeon2@example.com,Johnson,LN12346,B.,123-456-7891,SalesOrg2,63fe869d-89ed-4d80-9c5e-e13ac38d911d,60dc37ef-6c3e-4a70-9a2e-3c367c664f40,GOV12346
2,257789e0-0186-4e4e-b921-e254614d84ff,6acd6a9b-cb4b-4f7f-8770-f66963dade4f,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,0e361a23-7b19-4bc3-a329-d3b194843712,2cb7efd1-7dcd-48fb-852b-25369c351988,False,True,surgeon3@example.com,Williams,LN12347,C.,123-456-7892,SalesOrg3,8b311f85-26e7-4cd3-a185-1f929c7993aa,49f41395-4ae3-4344-b235-f6a5d303cd81,GOV12347
3,d47e49b9-6b14-4271-a9bf-05d965bc9ab5,b2a4af42-46ef-4f59-9914-50c6aa7691e5,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,8f94249e-a98f-4dc2-829c-4cdf494f5a6c,d61fbf9e-fa1a-4125-9518-43533f7cdab9,False,True,surgeon4@example.com,Jones,LN12348,D.,123-456-7893,SalesOrg4,64cb4e16-454c-475c-9e22-8780f00576b6,737ba3f2-33e5-4fc0-876d-30a429f72d98,GOV12348
4,49e90c6c-cc5f-44c2-b83a-903d9d057ce7,1deb53bb-bf1a-43f4-85bc-2bf5528c07da,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,dcdd3d00-2fdd-4d51-a4be-cabb25d0c1f5,83aeef36-0d21-4960-80ef-033a80cc0d9b,False,True,surgeon5@example.com,Brown,LN12349,E.,123-456-7894,SalesOrg5,e625b250-d339-43cf-8bf8-18ac31a5eee9,2d33de38-500c-4ad8-b5d8-267d02d9d197,GOV12349

In [78]:
def transform_data(df, table_name):

    # Get the column mappings for the current table
    columns_to_keep = column_mappings["t_surgeon"].keys()

    print(columns_to_keep)
    
    # Filter the DataFrame to keep only the columns that are in the column mappings
    df = df[list(columns_to_keep)]
    
    # Renaming columns
    df.rename(columns=column_mappings[table_name], inplace=True)
    
    # Changing data types
    # for column, dtype in dtype_mappings[table_name].items():
    #     df[column] = df[column].astype(dtype)
    
    # Example transformation: create a new column
    # if table_name == 'new_table1':
    #     df['new_column3'] = df['new_column1'] + df['new_column2']
    
    return df

In [79]:
def load_data(df, table_name, engine):
    # Get the existing columns in the target table
    target_columns = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 0", engine).columns
    
    # Select only the columns that exist in the target table
    df = df[target_columns.intersection(df.columns)]
    
    # Insert data into the target table
    with engine.connect() as connection:
        df.to_sql(table_name, connection, if_exists='append', index=False, method='multi')

In [80]:
# This cell orchestrates the ETL process
for old_table, new_table in table_mappings.items():
    # Extract data from source database
    print(f"source table {old_table} -> target table {new_table}")
    df = extract_table(source_engine, old_table)

    # Transform data
    transformed_df = transform_data(df, new_table)

    # Load data into target database
    # load_data(transformed_df, new_table, target_engine)

source table api_surgeon -> target table t_surgeon
dict_keys(['first_name', 'middle_name', 'last_name', 'email', 'prefix', 'license_number', 'license_state_id', 'phone', 'country_id', 'preferred_asc_facility_id', 'preferred_clinic_id', 'gov_id', 'createdat', 'updatedat', 'createdby_id', 'updatedby_id'])

KeyError: "['first_name', 'prefix', 'preferred_asc_facility_id', 'preferred_clinic_id'] not in index"

In [71]:
transformed_df.head(3)

,surgeon_id,license_state_cd,created_dttm,updated_dttm,created_by_id,updated_by_id,isdeleted,publish,email,last_name,license_number,middle_name,phone,sales_org,country_cd,preferred_clinic_facility_id,gov_id
0,0cfd1abc-5d78-4ad6-a8a3-503c0bf0f718,1cb2bb5d-44f4-4116-8d70-b1842a4d1fb4,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,ad93b4ee-cef1-4422-b0c9-7a85dfaab030,6ebdf313-0fb1-4c88-87e6-ed4adf021edc,False,True,surgeon1@example.com,Smith,LN12345,A.,123-456-7890,SalesOrg1,ada5fd7f-e039-424f-87cc-e97987215a43,74630e17-84f6-4fcc-8828-3017b2c8fe70,GOV12345
1,096dacb8-edb9-4a98-aea3-2dc3c691637a,217736d9-f0fc-4aa8-b2cd-cbc1422d81de,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,2059e64d-9a93-48fa-82ac-006fea20e590,c6e6f107-7c2b-4d55-bb40-2ceae40b573a,False,True,surgeon2@example.com,Johnson,LN12346,B.,123-456-7891,SalesOrg2,63fe869d-89ed-4d80-9c5e-e13ac38d911d,60dc37ef-6c3e-4a70-9a2e-3c367c664f40,GOV12346
2,257789e0-0186-4e4e-b921-e254614d84ff,6acd6a9b-cb4b-4f7f-8770-f66963dade4f,2024-05-14 19:46:07.069006+00:00,2024-05-14 19:46:07.069006+00:00,0e361a23-7b19-4bc3-a329-d3b194843712,2cb7efd1-7dcd-48fb-852b-25369c351988,False,True,surgeon3@example.com,Williams,LN12347,C.,123-456-7892,SalesOrg3,8b311f85-26e7-4cd3-a185-1f929c7993aa,49f41395-4ae3-4344-b235-f6a5d303cd81,GOV12347